@model IEnumerable<MVCBlog.Core.Entities.Tag>

<ul class="header-control list-inline">
    @foreach (var tag in this.Model)
    {
        <li>
            <div class="info-item">
                <i class="fa fa-tag"></i> <a href="@Url.RouteUrl(MVCBlog.Website.Routes.TAG, new { tag = tag.Name })">@tag.Name</a>
            </div>
        </li>
    }
</ul>